
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    display: inline-block;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}
    .hero-row{
        display: inline-block;
        width: 600px;
        margin-left: calc((100% - 600px) / 2);
        text-align: center;
}
        .title{
            text-transform: uppercase;
            font-size: 60px;

        }
        .sub.title{
            font-size: 22px;
            line-height: 30px;
            color: red;

        }

    .row{
        display:inline-block;
        width: 1000px;
        margin-left: calc((100% - 1000px) / 2);
        

    }
        .left-column{
            display:inline-block;
            width: 100%;
            background-color: violet;
            margin-bottom: 60px;

        }
        .right-column{
            display:inline-block;
            width: 100%;
            float: right;
            background-color: green;
            

        }
        .socials {
            display:inline-block;
            width: 100%;
            border-bottom: 1px solid #fff;
            

        }
        .text {
            display: inline;
            width: 600px;
            margin-left: calc((100% - 1000px) / 2 );
        }

.bg-blue {
    background-color: rgb(87, 87, 245);
}
.hero-bg{
    background-image: url();
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
}


@media (max-width: 1100px) {
    .row{
        display:inline-block;
        width: 800px;
        /*margin-left: calc((100% - 1000px) / 2); */
        background-color: red;

}

@media (max-width: 900px) {
    .row{
        display:inline-block;
        width: 600px;
       /* margin-left: calc((100% - 1000px) / 2); */
        background-color: rgb(121, 33, 91);

}
